<div class="mainContent" id="homeMainContId">
    <form>
        <!-- <h1>
            Promotions Page
        </h1> -->


        <div class="monitorMsgMainDiv">
            <h2>Send WhatsApp Message</h2>
            <mat-form-field appearance="fill" class="promotionsDD">
                <mat-label>Promotions</mat-label>
                <mat-select [formControl]="selectedPromotions" multiple>
                    <mat-option *ngFor="let promotion of promotionsList" [value]="promotion">{{promotion.promoMessage}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="customerDD">
                <mat-label>Customers</mat-label>
                <mat-select [formControl]="selectedCustomers">
                    <mat-option *ngFor="let customer of customersList" [value]="customer">{{customer.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button color="primary" class="customBtn" (click)="sendMsg()">Send Message</button>

        </div>

        <div class="monitorChatMainDiv">
            <h2>Monitor Chat</h2>

            <mat-form-field appearance="fill" class="customerDD">
                <mat-label>Customers</mat-label>
                <mat-select [formControl]="selectedCustomerMonitor">
                    <mat-option *ngFor="let customer of customersList" [value]="customer">{{customer.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-button color="primary" class="customBtn" (click)="monitorChat()">Monitor Chat</button>

        </div>

    </form>
</div>